<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::title}, ~{:: #edit-form})}">
  <head>
    <title>Edit author</title>
  </head>
  <body>
    <form id="edit-form" action="edit.html" th:action="@{/author/edit(id=${author.id})}" th:method="post" th:object="${author}">
      <h3>Author info:</h3>

      <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" name="id" th:value="*{id}" value="1"/>
      </div>

      <div class="row">
        <label for="person-first-name-input" >First Name:</label>
        <input id="person-first-name-input" name="firstName" type="text" th:value="*{firstName}" value="John"/>
        <div class="errors" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Wrong person first name error</div>
      </div>

      <div class="row">
        <label for="person-last-name-input" >Last Name:</label>
        <input id="person-last-name-input" name="lastName" type="text" th:value="*{lastName}" value="Doe"/>
        <div class="errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Wrong person last name error</div>
      </div>

      <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/author}"><button type="button" >Cancel</button></a>
      </div>
    </form>

  </body>
</html>