<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::title}, ~{:: #edit-form})}">
  <head>
    <title>Edit book</title>
  </head>
  <body>
    <form id="edit-form" action="edit.html" th:action="@{/book/edit(id=${book.id})}" th:method="post" th:object="${book}">
      <h3>Book info:</h3>

      <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" name="id" th:value="*{id}" value="1"/>
      </div>

      <div class="row">
        <label for="book-title-input" >Title:</label>
        <input id="book-title-input" name="title" type="text" th:value="*{title}" value="horror"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong book title error</div>
      </div>

      <div class="row">
        <label for="book-year-input" >Publish year:</label>
        <select id="book-year-input" th:field="*{year}">
          <option th:each="i : ${#numbers.sequence(1980, 2023)}"
                  th:value="${i}" th:text="${i}">1980</option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Wrong book year error</div>
      </div>

      <div class="row">
        <label for="book-author-input" >Author:</label>
        <select id="book-author-input" th:field="*{authorId}">
          <option th:each="author : ${authors}"
                  th:value="${author.id}"
                  th:text="${author.lastName + ' ' + author.firstName}">Иван Петрович</option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}">Wrong book author error</div>
      </div>

      <div class="row">
        <label for="book-genre-input" >Genre:</label>
        <select id="book-genre-input" th:field="*{genreId}">
          <option th:each="genre : ${genres}"
                  th:value="${genre.id}"
                  th:text="${genre.name}">Техническая литература</option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('genreId')}" th:errors="*{authorId}">Wrong book genre error</div>
      </div>

      <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/book}"><button type="button" >Cancel</button></a>
      </div>
    </form>

  </body>
</html>