<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::title}, ~{:: .genres})}">
    <head>
        <title>Genres</title>
    </head>
    <body>
    <table class="genres">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <td th:text="${genre.id}">1</td>
            <td th:text="${genre.name}">John</td>
            <td>
                <a th:href="@{/genre/edit(id=${genre.id})}" href="edit.html">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
</html>